h1 {
    font-size: 30px;
}

p {
    color: black;
    font-size: 18px;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
    color: crimson;
}

p2 {
    color: crimson;
}

h4 {
    font-size: 18px;
    color: cornflowerblue;
}

p3 {
    color: cornflowerblue;
}

h5 {
    font-size: 24px;
    color: cadetblue;
}

p4 {
    color: cadetblue;
}

p5 {
    color: coral;
}

li {
    color: coral;
}

h6 {
    font-size: 18px
}
